
#adminmenuback {
  opacity: .5;
}
/**/

/* Fix translation dahboard sizing on flags*/
.tm-dashboard-translation-options {
  width: 100% !important;
}
.tm-dashboard-translation-options .ant-space-item img {
width: 20px !important;
box-shadow: 0 0 6px #00000044 !important;
}