.aras-jobs {
    &-section {}

    &-row {
        padding-top: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid $bordergrey;

        @include breakpoint(medium down) {
            height: auto;
        }
    }

    &-title {
        @extend h3;

        @include breakpoint(small only) {
            font-size: 5vw;
        }

        a {
            all: unset;
            cursor: pointer;
        }
    }

    &-button {
        @extend .aras-button;

        @include breakpoint(medium down) {
            width: 100%;
        }

        &-container {
            @include breakpoint(medium down) {
                display: block;
                padding-bottom: 30px;
            }
        }
    }

    &-location {
        display: inline;

        @include breakpoint(small only) {
            display: none;
        }
    }
}