.featured-speakers-section {
  position: relative;

  .speaker-item {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .speaker-headshot,
    .speaker-headshot-placeholder {
      width: 100%;
      margin-bottom: 1rem;
      display: block;
      border: solid 1px $midgrey;
    }

    .speaker-headshot {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center center;
    }

    .speaker-headshot-placeholder {
      height: 0;
      padding-top: 100%;
      background-color: $midgrey;
    }

    h4 {
      font-size: 1.075rem;
      margin-bottom: .5rem;
    }

    h5 {
      font-weight: 300;
      font-size: .875rem;
      margin-bottom: .375rem;
    }

    a {
      font-weight: 300;
      font-size: .875rem;

      &::after {
        content: '|';
        padding-left: 4px;
        padding-right: 4px;
      }

      &:nth-last-child(1)::after {
        content: none;
      }
    }
  }
}