.map-section {
	.content-before {
		margin-bottom: 40px;
	}
}
.acf-map {
	width: 100%;
	min-height: 400px;

	&__container {
		display: flex;
		gap: 40px;

		@media (max-width: 900px) {
			flex-direction: column;
		}
	}

	&__side-content {
		flex: 1;
		flex-basis: 400px;
		flex-shrink: 0;;
		&--left {
			order: -1;
		}
	}
}