.aras-jobs {
    &-section {}

    &-row {
        padding-top: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid $bordergrey;

        @include breakpoint(medium down) {
            height: auto;
        }
    }

    &-title {
        @extend h3;

        @include breakpoint(small only) {
            font-size: 5vw;
        }

        a {
            all: unset;
            cursor: pointer;
        }
    }

    &-button {
        @extend .aras-button;

        @include breakpoint(medium down) {
            width: 100%;
        }

        &-container {
            @include breakpoint(medium down) {
                display: block;
                padding-bottom: 30px;
            }
        }
    }

    &-location {
        display: inline;

        @include breakpoint(small only) {
            display: none;
        }
    }
}

.job-listings {
    &__department {
        font-size: 1rem;
    }

    &__list {
        list-style: none;
        padding: 0.5em 1.5em 0em 2.5em;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }

    &__list + &__department {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    
}

.job-listing {
    font-size: 1rem;
    margin-bottom: 0em;
    container: job-listing / inline-size;

    &__link {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: space-between;

        @container job-listing (max-width: 400px) {
            flex-direction: column;
            gap: 0em;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-size: inherit;
        color: var(--primary);
        font-weight: 500;
        margin: 0;
    }

    &__location {
        font-size: 0.9rem;
        color: var(--mediumgrey);
    }
}