/** CARDS SECTION **/
.cards-section {
    overflow: hidden;
    position: relative;

    .card-buttons-section {
        margin-top: .5rem;

        a {
            margin-top: .5rem;
            margin-left: 0;
            margin-right: .5rem;
        }

        &.align-center {
            a {
                margin-left: .33rem;
                margin-right: .33rem;
            }
        }
    }

}

.cell-card {
    position: relative;

    @include breakpoint(small only) {
        margin-top: calc(var(--aras-grid-gutter, 10px) / 2);
        margin-bottom: calc(var(--aras-grid-gutter, 10px) / 2);
        max-width: 400px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .card-image-container {
        width: 100%;
        height: auto;

        img {
            width: 100%;
        }

        a,
        button {
            cursor: pointer;
        }
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .card-content-wrapper {
        flex-grow: 1;
    }

    .card-content-container .card-bottom {
        margin-top: auto;
        position: static !important;
    }

    .card-content-inner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.5rem;
    }

    .card-subhead {
        margin-bottom: 0.5rem;

        @include breakpoint(medium only) {
            margin-bottom: .75rem;
        }

        @include breakpoint(small only) {
            margin-bottom: .5rem;
        }
    }

    .card-headline {
        margin-bottom: 1rem;
        font-size: 25px;

        @include breakpoint(medium only) {
            margin-bottom: .75rem;
            font-size: 23px;
        }

        @media screen and (max-width: 800px) {
            font-size: 20px;
        }

        @include breakpoint(small only) {
            margin-bottom: .5rem;
            font-size: 18px;
        }
    }

    a .card-headline {
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: .5rem;

        @include breakpoint(medium only) {
            margin-bottom: .375rem;
        }

        @include breakpoint(small only) {
            margin-bottom: .25rem;
        }
    }

    p {
        margin-bottom: .5rem;
        line-height: 1.5;
        font-size: 16px;

        @include breakpoint(medium only) {
            font-size: 15px;
        }

        @include breakpoint(small only) {
            font-size: 15px;
        }
    }

    a {
        cursor: pointer;
    }

    .card-a {
        text-decoration: none;
    }

    &.bordercard {
        margin-top: calc(var(--aras-grid-gutter, 10px) / 2);
        margin-bottom: calc(var(--aras-grid-gutter, 10px) / 2);
        border: solid 2px transparent;

        --v: var(--aras-card-bordered-vertical-padding, 2.3rem);
        --h: var(--aras-card-bordered-horizontal-padding, 2.1rem);
        --gap: var(--aras-card-bordered-gap, 1.6rem);

        @include breakpoint(small only) {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &:after {
            background-color: var(--aras-card-border-color, var(--primary, #e0e0e0));
            content: '';
            position: absolute;
            top: calc(var(--aras-card-border-width, 2px) * -1);
            bottom: calc(var(--aras-card-border-width, 2px) * -1);
            left: calc(var(--aras-card-border-width, 2px) * -1);
            right: calc(var(--aras-card-border-width, 2px) * -1);
            position: absolute;
            width: calc(100% + var(--aras-card-border-width, 2px) * 2);
            height: calc(100% + var(--aras-card-border-width, 2px) * 2);
            z-index: 0;
            transition: .2s;
        }

        &.card-highlight-gradient-cont:hover {
            &:after {
                // background: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 100%);
                background: var(--primary);
            }
        }

        &.card-highlight-cont:hover {
            &:after {
                background: var(--primary);
            }
        }

        .card-container {
            position: relative;
            height: 100%;
            background-color: white;
            z-index: 1;
        }

        .card-icon-container {
            padding: var(--v) var(--h) 0;

            @include breakpoint(medium only) {
                padding: calc( var(--v) * 0.65) calc( var(--h) * 0.6) 0;
            }

            @include breakpoint(small only) {
                padding: calc( var(--v) * 0.78) calc( var(--h) * 0.8) 0;
            }

            .card-icon {
                height: 60px;
                width: auto;

                @include breakpoint(small only) {
                    height: 50px;
                }
            }
        }

        .card-content-container {
            padding: 1.6rem 2.1rem 2.3rem 2.1rem;
            padding: var(--gap) var(--h) var(--v) var(--h);

            @include breakpoint(medium only) {
                padding: 1.25rem 1.25rem 1.5rem 1.25rem;
            }

            @media screen and (max-width: 800px) {
                padding: 1.1rem 1.1rem 1.35rem 1.1rem;
            }

            @include breakpoint(small only) {
                padding: 1.1rem 1.1rem 1.35rem 1.1rem;
            }

            &>*:last-child {
                margin-bottom: 0;
            }
        }

        .card-bottom {
            position: absolute;
            bottom: 2.1rem;
            left: 2.1rem;
            right: 2.1rem;

            @include breakpoint(medium only) {
                bottom: 1.25rem;
                left: 1.25rem;
                right: 1.25rem;
            }

            @media screen and (max-width: 800px) {
                bottom: 1.1rem;
                left: 1.1rem;
                right: 1.1rem;
            }

            @include breakpoint(small only) {
                bottom: 1.1rem;
                left: 1.1rem;
                right: 1.1rem;
            }
        }

        .card-flex {
            display: flex;
            flex-direction: row;

            .card-icon-container {
                width: calc(2rem + 65px);
                padding: 2rem 0rem 2rem 2rem;

                @include breakpoint(medium only) {
                    width: calc(2rem + 60px);
                    padding: 1.75rem 0rem 1.75rem 1.75rem;
                }

                @media screen and (max-width: 800px) {
                    width: calc(2rem + 50px);
                    padding: 1.1rem 0rem 1.1rem 1.1rem;
                }

                @include breakpoint(small only) {
                    padding: 1.1rem 0rem 1.1rem 1.1rem;
                    width: calc(2rem + 50px);
                }

                .card-icon {
                    width: 65px;
                    height: auto;

                    @include breakpoint(medium only) {
                        width: 60px;
                    }

                    @media screen and (max-width: 800px) {
                        width: 50px;
                    }

                    @include breakpoint(small only) {
                        width: 50px;
                    }
                }
            }

            .card-content-container {
                flex: 1;
                padding: 2rem 2rem 2rem 1.25rem;

                @include breakpoint(medium only) {
                    padding: 1.75rem 1.75rem 1.75rem 1rem;
                }

                @media screen and (max-width: 800px) {
                    padding: 1.1rem 1.1rem 1.1rem .8rem;
                }

                @include breakpoint(small only) {
                    padding: 1.1rem 1.1rem 1.1rem .8rem;
                }
            }
        }

        .card-connector::before {
            content: '';
            height: 2px;
            width: 30px;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            right: calc(100% + 2px);
            left: auto;
            background-color: $lightgrey;
            position: absolute;

            @include breakpoint(small only) {
                content: '';
                height: 20px;
                width: 1px;
                margin-left: auto;
                margin-right: auto;
                bottom: calc(100% + 2px);
                top: auto;
                left: 0;
                right: 0;
                background-color: $lightgrey;
                position: absolute;
            }
        }

        &.large-6 {
            &:nth-child(2n - 1) {
                .card-connector::before {
                    display: none;
                }
            }

            @include breakpoint(small only) {
                &:nth-child(2n - 1) {
                    .card-connector::before {
                        display: block;
                    }
                }

                &:nth-child(1) {
                    .card-connector::before {
                        display: none;
                    }
                }
            }
        }

        &.large-4 {
            &:nth-child(3n - 2) {
                .card-connector::before {
                    display: none;
                }
            }

            @include breakpoint(small only) {
                &:nth-child(3n - 2) {
                    .card-connector::before {
                        display: block;
                    }
                }

                &:nth-child(1) {
                    .card-connector::before {
                        display: none !important;
                    }
                }
            }
        }

        &.large-3 {
            &:nth-child(4n - 3) {
                .card-connector::before {
                    display: none;
                }
            }

            @include breakpoint(medium only) {
                &:nth-child(4n - 3) {
                    .card-connector::before {
                        display: block;
                    }
                }

                &:nth-child(2n - 1) {
                    .card-connector::before {
                        display: none !important;
                    }
                }
            }

            @include breakpoint(small only) {
                &:nth-child(4n - 3) {
                    .card-connector::before {
                        display: block;
                    }
                }

                &:nth-child(2n - 1) {
                    .card-connector::before {
                        display: block;
                    }
                }

                &:nth-child(1) {
                    .card-connector::before {
                        display: none !important;
                    }
                }

            }
        }
    }

    &.freecard {
        padding-top: 30px;
        padding-bottom: 30px;

        .card-container {
            position: relative;
            height: 100%;
            z-index: 1;
        }

        .card-icon-container {
            padding: 0;

            .card-icon {
                height: 60px;
                width: auto;

                @include breakpoint(small only) {
                    height: 50px;
                }
            }
        }

        .card-content-container {
            padding: 1.6rem 0 0 0;
        }

        .card-bottom {
            position: absolute;
            bottom: 0;
        }


        .card-flex {
            display: flex;
            flex-direction: row;

            .card-icon-container {
                width: calc(2.1rem + 60px);
                padding: 2.1rem 0 2.1rem 2.1rem;

                .card-icon {
                    width: 60px;
                    height: auto;

                    @include breakpoint(small only) {
                        width: 50px;
                    }
                }
            }

            .card-content-container {
                flex: 1;
            }
        }
    }

    &.blue-gradient-card {
        &.bordercard {
            &::after {
                display: none;
            }
        }
        .card-container {
            background: linear-gradient(90deg, #00395D 0%, #00395D 50.48%, #1E618B 100%) !important;
            color: var(--white);
            *:not(button,.aras-button) {
                color: var(--white);
            }
        }
        .aras-button {
            &:hover,
            &:focus {
                background-color: var(--white);
                color: var(--primary-dark);
            }
        }
    }
    &.dark-card {
        &.bordercard {
            &::after {
                display: none;
            }
        }
        .card-container {
            background: rgba(0,0,0,0.25) !important;
            color: var(--white);
            *:not(button,.aras-button) {
                color: var(--white);
            }
        }
        .aras-button {
            &:hover,
            &:focus {
                background-color: var(--white);
                color: var(--primary-dark);
            }
        }
    }

    &.slide-card {
        border: 1px solid var(--primary-light);
        &::after {
            display: none;
        }
        .card-container {
            background-color: transparent;
        }
        .card-icon-container {
            padding: 1.5rem 1.5rem 0;
            display: grid;
            transition: grid-template-rows 0.2s;
            grid-template-rows: 1fr;
            > a {
                overflow: hidden;
                min-height: 0;
                display: block;
            }
            .card-icon {
                height: 80px;
                margin-bottom: 1.5rem;
            }
        }
        .card-content-wrapper {
            display: grid;
            transition: grid-template-rows 0.2s;
            grid-template-rows: 0fr;
            .card-content-inner {
                overflow: hidden;
                min-height: 0;
            }
        }
        .card-content-container {
            padding: 0 1.5rem 1.5rem;
        }
        .card-headline {
            font-size: 1.3rem;
            font-weight: 300;
        }
        .card-content-container {
            display: grid;
        }
        .wysiwyg-content p {
            font-size: 0.95rem;
        }
        .wysiwyg-content, .card-bottom {
            padding-bottom: 0 !important;
        }
        .wysiwyg-content p:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background:var(--white);
            .card-icon-container {
                grid-template-rows: 0fr;
            }
            .card-content-wrapper {
                grid-template-rows: 1fr;
            }

        }
    }

    &.small-text {
        p {
            font-size: 0.95rem;
        }
        .smallbottompadding {
            padding-bottom: 1em;
        }
    }
}

.card-slider-slick {
    //&::after {
    //  position: absolute;
    //  content: '';
    //  right: 100%;
    //  width: 100vw;
    //  height: 100%;
    //  top: 0;
    //  bottom: 0;
    //  background-color: white;
    //  z-index: 3;
    //}

    .slick-list {
        //overflow: visible;
        margin: 0 -15px;

        @include breakpoint(small only) {
            margin: 0 -8px;
        }

        .slick-track {
            display: flex;

            .slick-slide {
                height: inherit;
                margin-left: 15px;
                margin-right: 15px;
                position: relative;

                @include breakpoint(small only) {
                    margin-left: 8px !important;
                    margin-right: 8px !important;
                }

                .card-connector::before {
                    @include breakpoint(small only) {
                        content: '';
                        height: 2px;
                        width: 16px;
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        right: calc(100% + 2px);
                        left: auto;
                        background-color: $lightgrey;
                        position: absolute;
                    }
                }


                &.bordercard {
                    .card-container {
                        padding-bottom: 40px;
                    }
                    &.slick-current {
                        &.card-highlight-gradient-cont {
                            &:after {
                                background: linear-gradient(0deg, rgba(206, 35, 39, 1) 0%, rgba(212, 150, 35, 1) 100%);
                            }
                        }

                        &.card-highlight-cont {
                            &:after {
                                background: var(--primary);
                            }
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        bottom: 40px;
        left: 28px;
        right: auto;
        width: auto;
        li button::before {
            color: rgba(255,255,255,1);
            font-size: 12px;
        }
    }
}


.card-arrows {
    position: relative;
    width: 80px;
    height: 44px;
    display: block;
    margin-top: 5px;

    .slick-prev,
    .slick-next {
        font-size: 1.5rem;
        position: relative;
        display: inline-block;
        width: 26px;
        height: 35px;
        background-color: transparent;
        top: auto;
        transform: none;
        left: auto;
        right: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: none;
        }
    }

    .slick-prev {
        background-image: url(../../images/icons/prevarrow.svg);
        margin-right: 8px;
    }

    .slick-next {
        background-image: url(../../images/icons/nextarrow.svg);
    }
}

.cards-section [data-columns="cards-5"] {
    // do it with grid
    display: grid;
    // smallest
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;

    @media (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(medium up) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(large up) {
        grid-template-columns: repeat(5, 1fr);
    }

    .cell-card {
        margin: 0;
        width: auto;
        &.bordercard .card-icon-container {
            padding-top: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 0;
        }
        &.bordercard .card-content-container {
            padding: 1rem 1rem 1.5rem;
        }
    }

}