.competitor-table {
	border-width: 0;
	border-collapse: collapse;
	td,th,tbody,thead {
		border-width: 0;
	}

	thead th {
		position: sticky;
		z-index: 2;
		top: calc( var(--aras-header-height, 50px) + var(--wp-admin--admin-bar--height,0) - 1px);
	}

	thead th {
		font-weight: bold;
		text-align: left;
		border-bottom: 1px solid #ddd;
		padding: 1em 1em;

		&:first-child {
			text-align: left;
		}

		&:not(:first-child) {
			img {
				max-width: 110px;
				max-height:30px;
				width: auto;
				height: auto;
			}
		}
		&:nth-child(2) {
			img {
				max-height: 45px;
			}
		}
		&:not(:nth-child(2)) {
			img {
				// black and white
				filter: grayscale(100%);
			}
		}
	}

	tbody tr {
		vertical-align: middle;
		td:nth-child(2){
			--color-harvey-ball-fill: #{var(--primary)};
		}
		
		&:nth-child(2n) {
			background-color: transparent; // Light background for odd rows
		}
		img {
			max-width: 90%;
			max-height: 40px;
		}
		td {
			background: transparent;
			text-align: center;
			vertical-align: top;
			padding: 1rem 1.5rem;
		}
		
		td,th {
			border-bottom: 1px solid #ddd; // Light border for rows
		}
		
		th {
			background-color: transparent;
			vertical-align: top;
			padding: 1rem 1.5rem;
		}
	}

	&--centered-logos thead tr th:not(:first-child) {
		text-align: center;
	}

	.competitor-table__cell {
		padding: 10px;

		&.feature {
			font-weight: bold;
			color: #333; // Example feature color
		}
	}
	&--dividing-borders tbody td {
		position: relative;
	}
	&--dividing-borders &__difference {
		&::after {
			// add a thin dividing line on the left
			// that is 80% height of the parent
			content: '';
			position: absolute;
			left: -0.5px;
			top: 0.75rem;
			height: calc(100% - 1.5rem);
			width: 1px;
			background-color: #e8e8e8;
		}
	}

	&--equal-width-columns {
		table-layout: fixed;
	}

	&__difference {
		width: 100%;
		display: flex;
		align-self: start;
		align-items: start;
		justify-content: start;
		gap: 1em;
		.harvey-ball {
			margin-top: 0.25em;
		}
		&-description {
			text-align: center;
			font-size: 0.9em;
			color: #666; // Example description color
		}
	}

	&--body-text-left &__difference-description {
		text-align: left;
	}

	&__capability-name {
		font-weight: 600;
	}
	&__capability-description {
		font-size: 0.9em;
		color: #666; // Example description color
	}

	:not(.competitor-table--equal-width-columns) {
		.competitor-table--competitor-count-1 {
			thead th:not(:first-child) {
				width: 50%;
			}
		}
		.competitor-table--competitor-count-2 {
			thead th:not(:first-child) {
				width: 30%;
			}
		}
		.competitor-table--competitor-count-3 {
			thead th:not(:first-child) {
				width: 20%;
			}
		}
		.competitor-table--competitor-count-4 {
			thead th:not(:first-child) {
				width: 10%;
			}
		}
	}

	&--harvey-balls.competitor-table--tooltip {
		thead th {
			font-weight: bold;
			text-align: center;
			border-bottom: 1px solid #ddd;
			padding: 1em 0.5em;

			&:first-child {
				text-align: left;
			}

			&:not(:first-child) {
				text-align: center;
				width: 110px;
				img {
					max-height:30px;
					width: auto;
					height: auto;
				}
			}
		}
		tbody td {
			flex-basis: auto;
		}
		.competitor-table__difference {
			align-items: center;
			justify-content: center;
		}
	}

	&--harvey-balls.competitor-table--hide-harvey-ball-in-first-row {
		thead th:nth-child(2) {
			width: auto;
		}
	}

	// mobile version
	&--mobile {
		display: grid;
		border-width: 0;
		box-shadow: 0;
		gap: 1em;
		thead {
			border-width: 0;
			display: block;
			position: static;
			tr {
				display: block;
			}
			th {
				display: block;
				border-bottom-width: 0;
				&:empty {
					display: none; // Hide empty header cells
				}
			}
			th:not(:first-child) {
				display: none; // Hide all but the first column in mobile view
			}
		}
		tbody {
			border-width: 0;
			display: grid;
			gap: 1em;
			tr {
				border: 1px solid #ddd;
				display: flex;
				flex-grow: 1;
				flex-wrap: wrap;
				align-items: center;
				justify-content: start;
				gap: 1em;
				th {
					flex-grow: 1;
					background-color: #f2f2f2;
					font-size: 1.2em;
					.competitor-table__capability-description {
						font-weight: 400;
						text-align: left;
					}
				}
				>td,>th {
					flex-direction: column;
					flex-grow: 1;
					justify-content: start;
					display: flex;
					text-align: left;
					border-bottom-width: 0 !important;
					gap: 0.66em;
					&:first-child {
						flex-basis: 100%; // Make the first cell take full width
						font-weight: bold;
						text-align: center;
					}

					&:not(:first-child) {
						flex-basis: 100%; // Make other cells take half width
					}
					&:not(:nth-child(2)) {
						img {
							// black and white
							filter: grayscale(100%);
						}
					}

					.competitor-table__difference-logo {
						height: 30px;
						display: flex;
						align-items: center;
						font-weight: 600;
						font-size: 1.2em;
						img {
							max-height: 100%;
							width: auto;
							max-width: 90px;
						}
					}
				}
			}
			
		}
		.competitor-table__difference {
			align-items: start;
			.harvey-ball {
				margin-top: 0em;
			}
		}
	}
	&--harvey-balls.competitor-table--tooltip.competitor-table--mobile {
		thead th:not(:first-child) {
			display: none; // Hide the header in mobile view
			border-bottom: 0;
		}
		tbody {
			display: grid;
			gap: 1.25em;
			tr {
				>td,>th {
					flex-direction: column;
					&:not(:first-child) {
						flex-basis: auto; // Make the first cell take full width
					}
				}
				> td {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	&__legend {
		margin-top: 2rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		gap: 1em;

		&-item {
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			gap: 1em;
			line-height: 1.4;
			
		}
	}

	&--mobile + &__legend {
		flex-direction: column;
		align-items: flex-start;
	}
}