/** CONTENT SECTION **/
.content-section {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

    @media print,
    screen and (min-width: 1600px) {

        &.has-bg-img {
            // min-height: 850px !important;
            display: flex;
            align-items: center;
        }
    }

    .mobile-bg-blocker {
        display: none;

        @include breakpoint(small only) {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .5;
            z-index: 1;

            &.bg-white {
                background-color: $white;
            }
        }
    }

    .grid-container {
        position: relative;
        z-index: 2;
    }

    &.post-split {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;

        @include breakpoint(small only) {
            flex-direction: column;
        }

        .post-splitsize {
            flex: 1;
        }
    }

    &.intro-content .formsideblock {
        margin-bottom: 1.5rem;
    }

    &.post-content {
        margin-bottom: 1.5rem;

        .fullwidthblock {
            margin-bottom: 1.5rem;
        }
    }

    // &:last-child {
    //
    //     .fullwidthblock,
    //     .formsideblock,
    //     &.post-split,
    //     .split-text-block,
    //     .image-container-fullwidth {
    //
    //         margin-bottom: 0;
    //     }
    // }


    .formsideblock .video-block {
        max-width: 500px;
    }

    .formsideblock .wp-post-image {
        margin: 1rem 0;
    }

    .split-text-block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5rem;

        @include breakpoint(medium only) {
            flex-direction: column;
        }

        @media print,
        screen and (max-width: 400px) {
            flex-direction: column;
        }

        &.align-top {
            align-items: flex-start;
        }

        &.align-middle {
            align-items: center;
        }

        &.align-bottom {
            align-items: flex-end;
        }

        .split-text-half {
            flex: 1;

            @include breakpoint(medium only) {
                width: 100%;
            }

            @media print,
            screen and (max-width: 400px) {
                width: 100%;
            }

            &>*:last-child {
                margin-bottom: 0;
            }
        }
    }


    .button-block {
        &.text-left {
            a {
                margin-right: 1rem;
            }
        }

        &.text-center {
            a {
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .aras-button {
        margin-top: 1rem;
    }

    &.bg-dblue {
        .video-block {
            .video-container {
                &.shadow {
                    &::after {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &.bg-grey,
    &.bg-whitetogrey {
        .video-block {
            .video-container {
                &.shadow {
                    &::after {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @include breakpoint(small only) {
        .small-order-1 {
            margin-bottom: 2rem;
        }
    }
}

.image-block {
    position: relative;

    &.medium-8 .video-container {
        max-width: 630px;
    }

    .image-container {
        position: relative;
        max-width: 460px;

        &.image-container-fullwidth {
            max-width: 100%;
        }

        .split-image {
            position: relative;
            z-index: 1;
            width: 100%;
        }

        .image-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: hard-light;
            z-index: 3;
            user-select: none;
        }

        &.greyscale {
            background-color: $white;
            position: relative;

            .split-image {
                filter: grayscale(100%) contrast(1) brightness(1.1);
                flex: 1 0 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                opacity: 1;
                position: relative;
                width: 100%;
            }

            &::before {
                background-color: #1e212b;
                bottom: 0;
                content: '';
                height: 100%;
                left: 0;
                mix-blend-mode: color;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }

        &.shadow {
            margin-bottom: 15px;

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparent;
                transform: translate(-15px, 15px);
                border: solid 2px $midgrey;
            }

            .split-image {
                outline: solid 1px $midgrey;
            }
        }
    }

    &.medium-order-2 {
        .image-container {
            margin-left: auto;

            @include breakpoint(small only) {
                margin-left: auto;
                margin-right: auto;
                max-width: 400px;
            }

            &.shadow {
                &::after {
                    transform: translate(15px, 15px);
                }
            }
        }
    }
}

.video-block {
    &.medium-order-2 {
        .video-container {
            margin-left: auto;

            @include breakpoint(small only) {
                margin-left: auto;
                margin-right: auto;
                max-width: 400px;
            }

            &.shadow {
                &::after {
                    transform: translate(15px, 15px);
                }
            }
        }
    }

    &.medium-8 .video-container {
        max-width: 630px;
    }

    .video-container {
        max-width: 460px;
        position: relative;

        @include breakpoint(small only) {
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
        }

        &.video-container-fullwidth {
            max-width: 100%;
        }

        video,
        button,
        .responsive-embed,
        .vidyard-player-container {
            width: 100%;
            z-index: 2;
            position: relative;
        }

        video {
            margin-bottom: -6px;
        }

        .video-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: hard-light;
            z-index: 5;
            user-select: none;
        }

        .video-icon {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 72px;
            z-index: 5;
            user-select: none;
        }


        &.shadow {
            margin-bottom: 15px;

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparent;
                transform: translate(-15px, 15px);
                border: solid 1px $midgrey;
                z-index: 1;
            }

            video,
            button,
            .responsive-embed,
            .vidyard-player-container {
                outline: solid 1px $midgrey;
            }

            &.greyscale button {
                background-color: $white;
                position: relative;

                .video-poster {
                    filter: grayscale(100%) contrast(1) brightness(1.1);
                    flex: 1 0 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    opacity: 1;
                    position: relative;
                    width: 100%;
                    z-index: 3;
                }

                &::before {
                    background-color: #1e212b;
                    bottom: 0;
                    content: '';
                    height: 100%;
                    left: 0;
                    mix-blend-mode: color;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: 4;
                }
            }
        }
    }
}




.full-width-form-section {
    position: relative;

    .content-before {
        margin-bottom: 3rem;

        @include breakpoint(medium only) {
            margin-bottom: 2.5rem;
        }

        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
    }
}

.hero-form-side {
    height: 10px;

    @include breakpoint(small only) {
        height: auto;
        margin-top: 2rem;
    }

    .hero-form-container {
        padding-bottom: 3rem;
    }
}

.hero-form-container {
    max-width: 425px;
    margin-left: auto;
    display: block;

    &.form-left {
        margin-left: 0;
    }

    @include breakpoint(small only) {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-form {
        min-height: 10px;
        padding: 2rem;
        background-color: $white;
        border: solid 1px $bordergrey;
        box-shadow: -8px 8px 30px rgba($color: $black, $alpha: 0.2);

        @include breakpoint(medium only) {
            padding: 1.5rem;
        }

        @include breakpoint(small only) {
            padding: 1.5rem;
        }

        .hero-form-headline {
            margin-bottom: 1.25rem;
        }
    }

    .hero-form-end {
        margin-top: 1.5rem;
        text-align: center;

        &>*:last-child {
            margin-bottom: 0;
        }
    }
}

.full-form-container {
    max-width: 100%;
    margin: auto;
    display: block;

    @include breakpoint(small only) {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-form {
        min-height: 10px;
        padding: 2rem;
        background-color: $white;
        border: solid 1px $bordergrey;
        box-shadow: -8px 8px 30px rgba($color: $black, $alpha: 0.2);

        @include breakpoint(medium only) {
            padding: 1.5rem;
        }

        @include breakpoint(small only) {
            padding: 1.5rem;
        }

        .hero-form-headline {
            margin-bottom: 1.25rem;
        }
    }

    .hero-form-end {
        margin-top: 1.5rem;
        text-align: center;

        &>*:last-child {
            margin-bottom: 0;
        }
    }
}