// Site styling for new site has been commented out to be replaced with styling from original site.
#CybotCookiebotDialog {
  
  background-color: $white !important;
  box-shadow: 10px 10px 0 rgba($color: #000000, $alpha: 0.1);

  #CybotCookiebotDialogHeader {
    width: 140px;
    display: none;

    #CybotCookiebotDialogPoweredbyCybot {
      width: 140px;
    }

    #CybotCookiebotDialogPoweredbyCybot svg {
      max-width: 130px;
      fill: $grey;
    }
  }

  .CybotCookiebotFader {
    //filter: invert(1)brightness(2) !important;
    background-image: linear-gradient(to top, rgb(256, 256, 256), rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0)) !important;
  }

  #CybotCookiebotDialogBody .CybotCookiebotScrollContainer {
    max-height: 15rem !important;
  }

  .CybotCookiebotScrollbarContainer {
    background-color: $white !important;
  }

  #CybotCookiebotDialogTabContent {
    #CybotCookiebotDialogBodyContentTitle {
      font-size: 15px;
      font-weight: 500;
      font-family: var(--heading-font);;
      color: $black;
    }

    #CybotCookiebotDialogBodyContentText {
      font-size: 15px;
      font-weight: 300;
      color: $black;
      line-height: 1.2;
      font-family: var(--body-font);;

      a {
        color: var(--primary);
        font-weight: 400;
        text-decoration: none !important;

        &:hover,
        &:focus {
          color: $black;
          text-decoration: underline !important;
        }
      }
    }
  }

  #CybotCookiebotDialogBodyButtonsWrapper {
    @media (max-width: 1279px) {
      justify-content: center !important;
    }
  }

  #CybotCookiebotDialogBodyButtonsWrapper button {
    width: 200px !important;
  }

  #CybotCookiebotDialogBodyButtonAccept,
  #CybotCookiebotDialogBodyLevelButtonAccept,
  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll,
  #CybotCookiebotDialogBodyLevelButtonCustomize,
  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
  #CybotCookiebotDialogBodyButtonDecline {
    background-color: $black !important;
    border: solid 2px $black !important;
    color: $white !important;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--body-font);;
    padding: 10px 20px 8px 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: .1s ease-in-out;

    @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance:none) {
        padding: 10px 20px 20px 20px !important;
      }
    }

    &:hover,
    &:focus {
      background-color: $white !important;
      color: $black !important;
    }
  }

  #CybotCookiebotBannerCloseButtonE2E {
    fill: $black !important;
  }

  * {
    color: $black !important;
  }

  .CybotCookiebotDialogBodyLevelButtonDescription {
    font-weight: 500 !important;
  }

  input+.CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: $black !important;
  }

  input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: var(--primary) !important;
  }

  input:disabled+.CybotCookiebotDialogBodyLevelButtonSlider {
    background-color: $midgrey !important;
  }

  input+.CybotCookiebotDialogBodyLevelButtonSlider:before {
    background-color: $white !important;
  }
}

#CybotCookiebotDialogNav {
  .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
    border-bottom-color: var(--primary) !important;
  }

}

#CookiebotWidget {
  .CookiebotWidget-body .CookiebotWidget-consents-list li.CookiebotWidget-approved svg {
    fill: var(--primary) !important;
  }

  .CookiebotWidget-consent-details button svg {
    fill: var(--primary) !important;
  }

  .CookiebotWidget-consent-details button {
    color: var(--primary) !important;

    &:hover,
    &:focus {
      color: $black !important;
    }
  }

  #CookiebotWidget-buttons {
    padding: 1rem 1.5rem;
  }

  #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw,
  #CookiebotWidget-buttons #CookiebotWidget-btn-change {
    background-color: $black !important;
    border: solid 2px $black !important;
    color: $white !important;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--body-font);;
    padding: 8px 10px 7px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    min-height: 33px;

    &:hover,
    &:focus {
      background-color: $white !important;
      color: $black !important;
    }
  }
}

.CybotCookiebotDialogBodyBottomWrapper {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

#CybotCookiebotDialogBodyFieldsetInnerContainer {
  display: none !important;
}

//#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
//  display: none !important;
//}

#CybotCookiebotDialogBodyEdgeMoreDetails {
  height: 1rem !important;
  margin: .5rem !important;
}

#CybotCookiebotDialogBodyButtonDecline {
  display: none !important;
}

#CybotCookiebotDialogBodyEdgeMoreDetailsLink {
  color: $black !important;
  border-radius: 0px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-family: var(--body-font); !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: .1s ease-in-out !important;
  position: absolute;
  right: 0;
  padding-right: 1rem !important;

  &:hover,
  &:focus {
    background-color: $white !important;
    color: $black !important;
  }

  &::after {
    // content: none !important;
    color: $black !important;
    border-color: $black !important;
  }

  @media (max-width: 1510px) {
    padding-right: 0 !important;
  }

  @media (max-width: 1279px) {
    position: relative !important;
    margin: auto !important;
  }

  @media (max-width: 600px) {
    margin-left: .75rem !important;
  }
}

#CybotCookiebotDialogPoweredByText {
  display: none !important;
}

.CookiebotWidget-main-logo {
  display: none !important;
}
