/* The container must be positioned relative: */
.custom-select {
    position: relative;
    //    min-width: 239px;
    margin: 0;
    //height: 40px;
    width: 100%;
    display: block;

    &.docs {
        width: 200px !important;
    }

    &.docs,
    &.training,
    &.roadmap,
    &.events,
    &.partners {
        left: 0;
        right: 0;

        .select-selected {
            background-color: $white;
            color: $black;
            //letter-spacing: 1px;

            &:after {
                position: absolute;
                content: "";
                top: 15px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #000 transparent transparent transparent;
            }
        }

        .select-items {
            border: 1px solid #cacaca;

            div {
                cursor: pointer;
                margin: 0;
                font-size: 0.8rem;
                background-color: $white;
                border-color: $filterblue;
                color: $black;
                padding-left: 0.8rem;
                padding-top: 7px;
                padding-bottom: 3px;

                &:nth-last-child(1) {
                    padding-bottom: 5px;
                }
            }

            div:hover,
            div:focus {
                background-color: DodgerBlue;
                color: $white;
            }
        }
    }
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    text-overflow: ellipsis;
    padding: 0.5rem;
    appearance: none;
    border: 1px solid #cacaca;
    border-radius: 0;
    line-height: 1.5;
    padding-right: 1.5rem;
    transition:
        box-shadow 0.5s,
        border-color 0.25s ease-in-out;
    margin: 0;
    background-color: $filterblue;
    border-color: $filterblue;
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0.8rem;
    margin-top: auto;
    height: 40px;
    text-wrap: nowrap;
    overflow: hidden;

    &:focus {
        box-shadow: none;
    }
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* Style items (options): */
.select-items {
    color: $white;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 400;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

    div {
        cursor: pointer;
        margin: 0;
        font-size: 0.8rem;
        background-color: $filterblue;
        border-color: $filterblue;
        color: $white;
        line-height: 18px;
        padding-left: 0.8rem;
        padding-top: 7px;
        padding-bottom: 3px;

        &:nth-last-child(1) {
            padding-bottom: 5px;
        }
    }
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.select-items div:focus,
.same-as-selected {
    background-color: DodgerBlue;
}