.nav-bar.has-eyebrow {
	padding-top: 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.6em;

	>* {
		width: 100%;
	}
}

.eyebrow {

	order: -1;
	font-size: 1rem;
	position: relative;
	width: 100%;

	display: grid; 
	grid-template-rows: 1fr;
	transition: 250ms grid-template-rows ease, 250ms padding ease;
	padding: 0.5em 0;

	&.is-closed {
		grid-template-rows: 0fr;
		padding: 0;
	}
	
	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		overflow: hidden;
	}

	&__copy {
		flex: 1;
		text-align: center;
		opacity: 0;
		animation: announcement-slide-up 1s forwards 0.5s;
		color: var(--aras-announcement-text-color, #fff);
		p {
			margin: 0;
			padding: 0;
			font-weight: 400;
		}
		a {
			color: var(--secondary);
		}
	}

	&__close {
		height: auto;
		color: #fff;
		svg {
			width: auto !important;
			height: 1.5rem !important;
		}
	}
}

@keyframes announcement-slide-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}