.leadership-tabs-section {
    position: relative;

    .leadertabscontainer {
        display: flex;
        justify-content: center;
    }

    .leader-tabs {
        display: flex;
        justify-content: center;
        border-top: none;
        border-left: none;
        border-right: none;
        width: max-content;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: solid 1px $lightgrey;
        background-color: transparent;

        @include breakpoint(small only) {
            border-bottom: none;
        }


        .is-active {
            a {
                color: $dblue;

                &:hover,
                &:focus {
                    color: $dblue;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    height: 4px;
                    width: 100%;
                    left: 0;
                    right: 0;
                    background: rgba(206, 35, 39, 1);
                    background: linear-gradient(90deg, rgba(212, 150, 35, 1) 0%, rgba(206, 35, 39, 1) 100%);
                }
            }
        }

        a {
            padding: .5rem 0 .75rem 0;
            margin: 0 1rem;
            font-size: 1rem;
            font-weight: 400;
            background-color: transparent;
            color: $midgrey;
            text-decoration: none;
            position: relative;

            &:hover,
            &:focus {
                color: $midgrey;
            }

            @include breakpoint(small only) {

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    height: 2px;
                    width: 100%;
                    left: 0;
                    right: 0;
                    background: $lightgrey;
                }
            }
        }
    }

    .tabs-content {
        border: none;
        border-top: 0;
        background: transparent;
        color: auto;
        margin-top: 2rem;

        @include breakpoint(small only) {
            margin-top: 0;
        }

        .tabs-panel {
            padding: 0;
        }
    }
}

.leader-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 400px) {
        flex-direction: column;
    }

    &.reveal {
        width: 750px;
        max-width: 100%;
    }

    .leader-headshot {
        width: 160px;
        height: 160px;
        object-fit: cover;
        object-position: center center;
        border: solid 2px $midgrey;

        @include breakpoint(medium only) {
            width: 120px;
            height: 120px;
        }

        @media screen and (max-width: 800px) {
            width: 100px;
            height: 100px;
        }

        @include breakpoint(small only) {
            width: 150px;
            height: 150px;
        }

        @media screen and (max-width: 500px) {
            width: 120px;
            height: 120px;
        }

        @media screen and (max-width: 400px) {
            width: 150px;
            height: 150px;
        }
    }

    h4 {
        line-height: 1.2;
        margin-top: -3px;
        margin-bottom: 5px;
    }

    h6 {
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    p {
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: .5rem;
    }

    .bio-readmore {
        color: var(--primary);
        cursor: pointer;
    }
}