.quote-section {
    position: relative;
    overflow: hidden;

    .grid-container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 4rem;
            bottom: 0;
            right: -833px;
            width: 1000px;
            height: calc(100% - 4rem);
            background-image: var( --aras-quote-bg, url(../../images/quote-background.svg) );
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom left;
            z-index: 0;

            @include breakpoint(medium only) {
                right: -733px;
                opacity: .5;
            }

            @include breakpoint(small only) {
                right: -650px;
                opacity: .5;
            }

        }

        .grid-x {
            z-index: 1;
            position: relative;
        }
    }

    &.bg-white {
        .quote-container {
            &::before {
                background-image: var( --aras-quotemark, url(../../images/icons/quotemark-on-white.svg) );
            }
        }
    }

    .quote-container {
        padding-left: 100px;
        position: relative;

        @include breakpoint(medium only) {
            padding-left: 60px;
        }

        @include breakpoint(small only) {
            padding-left: 50px;
        }

        &::before {
            content: '';
            background-image: var( --aras-quotemark, url(../../images/icons/quotemark-on-white.svg) );
            width: 65px;
            height: 65px;
            position: absolute;
            top: -30px;
            left: 20px;
            background-size: contain;
            background-repeat: no-repeat;

            @include breakpoint(medium only) {
                left: 0px;
                top: -20px;
                width: 40px;
                height: 40px;
            }

            @include breakpoint(small only) {
                left: 0px;
                top: -20px;
                width: 40px;
                height: 40px;
            }
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .attr-link {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        h6 {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .attr-img-link {
            opacity: 1;
            transition: .2s ease-in-out;

            &:hover {
                opacity: .75;
            }
        }

        .quote-image {
            width: auto;
            margin-top: 1.5rem;
            max-width: 100%;
            max-height: 60px;
        }
    }
}
.quote-carousel{
    overflow: hidden;
    > .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
        > .swiper-slide {
            flex: 0 0 100%;
        }
    }
}

.quote-content--default p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.quote-content--medium p {
    font-size: 1.15rem;
    line-height: 1.5;
}

.quote-content--large p {
    font-size: 1.65rem;
    line-height: 1.5;
}

.quote-carousel {
    --swiper-navigation-size: 30px;

    &.swiper {
        padding-bottom: 40px !important;
        margin-bottom: -40px;
        margin-top: -30px !important;
    }
    .swiper-wrapper {
        padding-top: 30px;
        .quote-container {
            
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: #fff;
        @media (max-width: 767px) {
            top: auto;
            bottom: 0rem;
            font-size: 1.5rem;
        }
        &:after {
            @media (max-width: 767px) {
                font-size: inherit;
            }
        }
        
    }
    .swiper-pagination-bullet {
        background-color: var(--aras-quote-swiper-pagination-bullet-bg, #fff);
        cursor: pointer;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--aras-quote-swiper-pagination-bullet-active-bg, #fff);
    }
}

.quote-attribution {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .quote-headshot {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center;
        flex-shrink: 0;
    }

    span {
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: none;
        color: #000;
    }
}