.archive-hero-banner {
  padding-top: 6rem;
  padding-bottom: 1rem;

  @include breakpoint(medium only) {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  @include breakpoint(small only) {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  a.breadcrumb {
    text-decoration: none;

    &:hover,
    &:focus {
      color: $red;
    }
  }
}

.blogs-archive-feat {
  .content-before {
    margin-bottom: 1rem
  }

  .feat-headline {
    font-weight: 700;
  }

  .feat-card {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media print,
    screen and (max-width: 923px) {
      flex-direction: column;
      gap: 1rem;
    }

    @include breakpoint(small only) {
      flex-direction: row;
    }

    @media print,
    screen and (max-width: 400px) {
      flex-direction: column;
    }

    .feat-img-container {
      min-width: 150px;
      width: 36%;
      height: min-content;
      border: solid 1px $midgrey;

      @media print,
      screen and (max-width: 923px) {
        width: 100%;
      }

      @include breakpoint(small only) {
        width: 35%;
      }

      @media print,
      screen and (max-width: 400px) {
        width: 100%;
      }
    }

    img.wp-post-image {
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center center;
    }

    .feat-content-container {
      flex: 1;

      .card-headline {
        margin-bottom: .5rem;
        font-size: 21px;

        @media print,
        screen and (max-width: 923px) {
          margin-bottom: .5rem;
        }
      }
    }
  }
}

.resource-archive-feat {
  .feat-card {
    .feat-img-container {
      max-width: 460px;
      border: solid 2px $lightgrey;
      position: relative;
      z-index: 2;
      margin-bottom: 15px;

      @include breakpoint(small only) {
        margin-left: auto;
        margin-right: auto;
        max-width: 425px;
      }

      .feat-label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 12px;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1rem;
        z-index: 3;

        background: $red;
        background: linear-gradient(90deg, rgba(206, 33, 39, 1) 0%, rgba(208, 66, 38, 1) 50%, rgba(212, 150, 35, 1) 100%);

      }

      img {
        z-index: 1;
      }

      &::after {
        position: absolute;
        content: '';
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background-color: transparent;
        transform: translate(-15px, 15px);
        border: solid 2px $lightgrey;
        z-index: 0;
      }

    }

    img.wp-post-image {
      position: relative;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center center;
      z-index: 1;
    }

    .feat-content-container {
      @include breakpoint(small only) {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
      }

      .card-subhead {
        text-transform: none;
        margin-bottom: .6rem;

        a {
          color: $red;

          &:focus,
          &:hover {
            color: $red;
          }
        }
      }

      .card-a {
        text-decoration: none;
      }

      .card-headline {
        margin-bottom: .6rem;
      }

      .content {
        margin-bottom: .75rem;
      }
    }
  }
}

.blog-archive-cta {
  position: relative;

  h2 {
    font-size: 38px;
    margin: 0;
  }

  .grid-container {
    position: relative;
    z-index: 1;
  }

  img {
    z-index: 1;
  }

  &::after {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/backgrounds/blog-cta-background.svg);
    z-index: 0;
  }

  .medium-shrink {
    max-width: 40%;

    @include breakpoint(small only) {
      max-width: 90%;
      margin-top: 1rem;
    }
  }
}

.news-archive {
  .news-post-loop {
    .news-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      border-bottom: solid 1px $bordergrey;

      img {
        width: 100%;
        max-width: 266px;
        max-height: 150px;
        height: fit-content;
        border: solid 1px $bordergrey;

      }

      .news-card-content {
        flex: 1;

        .card-date {
          margin-bottom: .5rem;
        }

        .card-headline {
          color: $red;
          font-weight: 400;
          margin-bottom: 1rem;

          &:hover,
          &:focus {
            color: $black;
            text-decoration: underline;
          }
        }
      }
    }
  }
}


.blog-filter {
  padding-top: 1rem;
  padding-bottom: 1rem;

  form {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  #filter-form {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;

    @include breakpoint(medium only) {
      //flex-wrap: wrap;
    }

    @include breakpoint(small only) {
      flex-direction: column;
    }

    select {
      margin: 0;
      background-color: $filterblue;
      border-color: $filterblue;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      padding-left: 0.8rem;
      height: 40px;
      background-image: url(../images/icons/downarrow-white.svg);

      &:focus {
        box-shadow: none;
      }

      option {
        padding: 5px;
      }
    }
  }

  .blog-filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 4px;

    .blog-filter-button {
      background-color: transparent;
      border: solid 1px $white;
      color: $white;

      cursor: pointer;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1;
      padding: 6px 10px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s ease-in-out;
      z-index: 2;

      @include breakpoint(medium only) {}

      @include breakpoint(small only) {}

      &:hover,
      &:focus {
        background-color: $white;
        border: solid 1px $white;
        color: $black;
      }

      &.active {
        background-color: $white;
        border: solid 1px $white;
        color: $black;
      }
    }
  }
}

.short-hero .blog-search-form {
  margin-top: 1.5rem;
}

.blog-search-form {
  width: 300px;
  border-bottom: solid 1px #8f8f8f;

  @include breakpoint(medium only) {
    width: 225px;
  }

  @include breakpoint(small only) {
    width: 100%;
    margin-top: 1.5rem;
  }

  .search-field {
    color: $white !important;
    font-size: 14px;
    height: 39px !important;


    &::placeholder {
      color: $white !important;
    }
  }

  .search-arrow-icon {
    filter: brightness(10);
    height: 39px !important;
    background-size: 65% !important;
  }
}

.news-filter {
  .news-filter-flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include breakpoint(medium only) {
      gap: 1rem;
    }

    @include breakpoint(small only) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  #news-type-dropdown {
    flex: 1;
    height: 36px;
    font-size: 15px;
    margin: 0;
    border: 1px solid $bordergrey;
  }

  .news-search-form {
    flex: 0.5;

    @include breakpoint(medium only) {
      flex: 0.75;
    }

    @include breakpoint(small only) {
      flex: 1;
    }

    .search-field {
      width: calc(100% - 30px);
      height: 35px;
      color: $black;

      &::placeholder {
        color: $black;
      }
    }

    .search-arrow-icon {
      width: 30px;
      height: 35px;
      background-size: 60%;
    }
  }
}



.blog-archive-cta {
  .cta-form {
    margin-top: 12px;

    @include breakpoint(small only) {
      margin-top: 2rem;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include breakpoint(small only) {
      flex-direction: column;
      gap: .5rem;
    }

    .gform-body {
      flex: 1;
    }

    .gform_footer {
      flex: 0;
      margin: 0;
    }


    input[type=text],
    input[type=email],
    input[type=tel],
    select {
      border: solid 2px $white !important;
      color: $black !important;
      font-size: .85rem !important;
      height: 36px !important;

      &::placeholder {
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &:focus {
        box-shadow: none;
      }
    }

    input[type=submit].button {
      background-color: $gold !important;
      border: solid 2px $gold !important;
      color: $black !important;
      font-size: .9rem !important;
      min-width: 100px !important;
      padding: 3px 14px !important;
    }

    .gform_footer {
      @include breakpoint(small only) {
        justify-content: flex-start;
      }
    }

  }

  .gform_validation_errors {
    display: none !important;
  }

  .validation_message {
    position: absolute !important;

    @include breakpoint(small only) {
      position: relative !important;
    }
  }
}

.bg-dblue {
  .gform_confirmation_message {
    color: $white;
  }
}

.gform_wrapper .gform_ajax_spinner {
  margin-top: -5px;
  margin-left: -40px;
  position: absolute;
}

.gform_confirmation_message {
  font-family: "azo-sans-web", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: $black;

  & strong {
    font-weight: 700;
  }

  @include breakpoint(medium only) {
    font-size: 1.075rem;
  }

  @include breakpoint(small only) {
    font-size: 1rem;
  }
}