.customer-story-section {
    position: relative;

    .customer-bg-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: auto;
        right: auto;
        width: 46%;
        z-index: 2;

        @include breakpoint(medium only) {
            width: 60%;
        }

        @include breakpoint(small only) {
            width: 90%;
        }

        &.background-left-img {
            left: 0;
        }

        &.background-right-img {
            right: 0;
        }
    }

    &.bg-white {
        .customer-bg-overlay {
            &.background-left-img {
                background: linear-gradient(270deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(270deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.0) 70%);
                }

                @include breakpoint(medium only) {}

                @include breakpoint(small only) {
                    background: linear-gradient(270deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.5) 100%);
                }
            }

            &.background-right-img {
                background: linear-gradient(90deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(90deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.0) 70%);
                }

                @include breakpoint(medium only) {}

                @include breakpoint(small only) {
                    background: linear-gradient(90deg, rgba($color: $white, $alpha: 1.0) 2%, rgba($color: $white, $alpha: 0.5) 100%);
                }
            }
        }
    }

    &.bg-dblue {
        .customer-bg-overlay {
            &.background-left-img {
                background: linear-gradient(270deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(270deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.0) 70%);
                }

                @include breakpoint(small only) {
                    background: linear-gradient(270deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.5) 100%);
                }
            }

            &.background-right-img {
                background: linear-gradient(90deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(90deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.0) 70%);
                }

                @include breakpoint(small only) {
                    background: linear-gradient(90deg, rgba($color: $dblue, $alpha: 1.0) 2%, rgba($color: $dblue, $alpha: 0.5) 100%);
                }
            }
        }
    }

    &.bg-grey,
    &.bg-whitetogrey {
        .customer-bg-overlay {
            &.background-left-img {
                background: linear-gradient(270deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(270deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.0) 70%);
                }

                @include breakpoint(small only) {
                    background: linear-gradient(270deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.5) 100%);
                }
            }

            &.background-right-img {
                background: linear-gradient(90deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.0) 100%);

                @media print,
                screen and (min-width: 1600px) {
                    background: linear-gradient(90deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.0) 70%);
                }

                @include breakpoint(small only) {
                    background: linear-gradient(90deg, rgba($color: $lightestgrey, $alpha: 1.0) 2%, rgba($color: $lightestgrey, $alpha: 0.5) 100%);
                }
            }
        }
    }

    .customer-bg-img {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: auto;
        right: auto;
        width: 45%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;

        @include breakpoint(medium only) {
            width: 60%;
        }

        @include breakpoint(small only) {
            width: 90%;
        }

        &.background-left-img {
            left: 0;
        }

        &.background-right-img {
            right: 0;
        }
    }

    .grid-container {
        position: relative;
        z-index: 3;

        .customer-logo {
            width: 75%;
            max-width: 180px;
            max-height: 100px;
            height: auto;
            margin-bottom: 2rem;
        }
    }
}

.cs-overview-content {

    p,
    li {
        margin-bottom: 1rem !important;
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}