.quote-section {
    position: relative;
    overflow: hidden;

    .grid-container {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 4rem;
            bottom: 0;
            right: -833px;
            width: 1000px;
            height: calc(100% - 4rem);
            background-image: url(../images/quote-background.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom left;
            z-index: 0;

            @include breakpoint(medium only) {
                right: -733px;
                opacity: .5;
            }

            @include breakpoint(small only) {
                right: -650px;
                opacity: .5;
            }

        }

        .grid-x {
            z-index: 1;
            position: relative;
        }
    }

    &.bg-white {
        .quote-container {
            &::before {
                background-image: url(../images/icons/quotemark-on-white.svg);
            }
        }
    }

    .quote-container {
        padding-left: 100px;
        position: relative;

        @include breakpoint(medium only) {
            padding-left: 60px;
        }

        @include breakpoint(small only) {
            padding-left: 50px;
        }

        &::before {
            content: '';
            background-image: url(../images/icons/quotemark.svg);
            width: 65px;
            height: 65px;
            position: absolute;
            top: -30px;
            left: 20px;
            background-size: contain;
            background-repeat: no-repeat;

            @include breakpoint(medium only) {
                left: -5px;
                top: -20px;
                width: 50px;
                height: 50px;
            }

            @include breakpoint(small only) {
                left: -8px;
                top: -20px;
                width: 50px;
                height: 50px;
            }
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .attr-link {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        h6 {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .attr-img-link {
            opacity: 1;
            transition: .2s ease-in-out;

            &:hover {
                opacity: .75;
            }
        }

        .quote-image {
            margin-top: 1.5rem;
            max-width: 100%;
            max-height: 60px;
        }
    }
}