.statistics-section {
    position: relative;

    @include breakpoint(small only) {
        .grid-padding-x {
            justify-content: center;
        }
    }

    .stat-item {
        display: block;
        border-left: solid $midgrey 1px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 30px 0 30px;

        @include breakpoint(small only) {
            max-width: 300px;
        }

        &:nth-child(1) {
            border-left: none;
            padding: 0 30px 0 15px;
        }

        &.large-6 {
            &:nth-child(2n - 1) {
                border-left: none;
                padding: 0 30px 0 15px;
            }
        }

        &.large-4 {
            &:nth-child(3n - 2) {
                border-left: none;
                padding: 0 30px 0 15px;
            }
        }

        &.large-3 {
            &:nth-child(4n - 3) {
                border-left: none;
                padding: 0 30px 0 15px;
            }

            @include breakpoint(medium only) {
                &:nth-child(2n - 1) {
                    border-left: none;
                    padding: 0 30px 0 15px;
                }
            }
        }

        @include breakpoint(small only) {
            padding: 20px 0 !important;
            margin: 0 15px !important;
            width: calc(100% - 30px);
            border-left: none;
            border-top: solid 1px $midgrey;

            &:nth-child(1) {
                border-top: none !important;
            }

        }


        .stat-num {
            font-size: 4rem;
            font-weight: 100;
            margin-bottom: 15px;
            line-height: 1;
            color: $gold;

            @include breakpoint(medium only) {
                font-size: 3.5rem;
            }

            @include breakpoint(small only) {
                font-size: 3rem;
            }
        }

        .stat-desc {
            margin-bottom: 0;
            font-size: 15px;
        }

    }
}